<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" />
    <title>DREAM BRIDGE</title>
</head>

<body>
    <div class="flex items-start justify-center gap-20 bg-gray-900" style="margin-top: -14px;">
        <div class="mt-5">
            <p class="font-semibold text-xl text-white">Thông tin liên hệ</p><br>
            <p class="text-white">Website của Công Ty TNHH Đầu Tư Và Phát Triển Giáo Dục <br>
                Thành lập ngày 15/08/2017 có mã số thuế là 0314573481. Giấy <br>
                chứng nhận đăng ký dịch vụ tư vấn du học được cấp bởi Sở Giáo <br>
                dục & Đào tạo Tp.HCM theo số 1585/GDĐT-TC. <br>
                Người đại diện: Nguyễn Lê Kim Lân</p>

            <p class="text-white">Địa chỉ: 806 QL22, ấp Mỹ Hoà 3, Hóc Môn, Hồ Chí Minh</p>
            <p class="text-white">Hotline: 0886 007 589</p>
            <p class="text-white">Email: info@hllq.edu.vn</p>
            <p class="text-white">Website: https://hllq.edu.vn</p>
        </div>

        <div class="mt-5">
            <p class="font-semibold text-xl text-white">Quốc gia du học</p><br>
            <p class="text-white">Du học Mỹ</p>
            <p class="text-white">Du học Úc</p>
            <p class="text-white">Du học Thụy Sĩ</p>
            <p class="text-white">Du học Singapore</p>
        </div>

        <div class="mt-5">
            <p class="font-semibold text-xl text-white">Bản đồ đến ThinkEdu</p>
            <iframe style="width:400px;height:250px"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2901094780163!2d106.59805157480629!3d10.865525089288733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b088de30f3b%3A0xd2140740d360f705!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKSBDxqEgc-G7nyBIw7NjIE3DtG4!5e0!3m2!1svi!2s!4v1726823865983!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
</body>
</html>