<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" />
  </head>

<div class="">
    @*  phần Dream hot line  *@
    <div class="flex gap-3 p-3 justify-end">

        <div class="mt-3">
            <img class="" style="width: 30px;" src="https://classic.vn/wp-content/uploads/2022/07/phone-icon-800x800.png" alt="">
        </div>

        <div class="">
            <h4 class="text-xl font-bold">DREAM BRIDGE</h4>
            <p> Hotline : <span style="color: red;">0886007589</span> </p>

        </div>
    </div>
      @* phần Dream hot line  *@
    <div class="">
        <div class="logo "> 
            <img src="https://www.canva.com/design/DAGQWVnVvX8/9z0qI5BB2R0o6iu_gCISIg/edit?utm_content=DAGQWVnVvX8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" alt="">
        </div>
        <div class="menu"></div>
    </div>
</div>