@{
    Layout = "_AdminLayout"; // Sử dụng layout admin
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hover Effect</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
        .active {
            background-color: rgba(255, 255, 255, 0.2);
            transition: background-color 0.3s ease;
        }

        a {
            transition: background-color 0.3s ease;
            width: 100%;
        }

        .container.mx-auto.flex.items-center.justify-end.gap-3.p-3 {
            display: none;
        }

        .flex.gap-7.text-lg.font-medium.pr-5.pb-7 {
            display: none;
        }

        .w-36 {
            display: none;
        }

        .flex.items-start.justify-center.gap-20.bg-gray-900 {
            display: none;
        }
    </style>
</head>

<body class="flex items-center ">
    <div class="flex w-[100%]">
        <!-- Div lớn chứa các icon -->
        <div
            class="group relative flex h-[900px] w-[50px] flex-col items-start bg-green-500 transition-all duration-500 ease-in-out hover:w-[200px]">
            <!-- Danh sách các icon -->
            <a href="/tongquan"
                class="flex items-center relative pl-3 h-[50px] w-[50px] text-white transition-all duration-500 ease-in-out group-hover:w-[200px]">
                <span class="material-icons text-2xl">home</span>
                <span
                    class="ml-2 whitespace-nowrap opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100">Tổng
                    Quan</span>
            </a>

            <a href="/qltintuc"
                class="flex items-center relative pl-3 h-[50px] w-[50px] text-white transition-all duration-500 ease-in-out group-hover:w-[200px]">
                <span class="material-icons text-2xl">announcement</span>
                <span
                    class="ml-2 whitespace-nowrap opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100">QL
                    Tin tức</span>
            </a>
            <a href="/qltruong"
                class="flex items-center relative pl-3 h-[50px] w-[50px] text-white transition-all duration-500 ease-in-out group-hover:w-[200px]">
                <span class="material-icons text-2xl">school</span>
                <span
                    class="ml-2 whitespace-nowrap opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100">QL
                    Trường</span>
            </a>
            <a href="/qltuvan"
                class="flex items-center relative pl-3 h-[50px] w-[50px] text-white transition-all duration-500 ease-in-out group-hover:w-[200px]">
                <span class="material-icons text-2xl">help_outline</span>
                <span
                    class="ml-2 whitespace-nowrap opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100">QL
                    Tư vấn</span>
            </a>

            <a href="/qltaikhoan"
                class="flex items-center relative pl-3 h-[50px] w-[50px] text-white transition-all duration-500 ease-in-out group-hover:w-[200px]">
                <span class="material-icons text-2xl">account_circle</span>
                <span
                    class="ml-2 whitespace-nowrap opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100">QL
                    Tài khoản</span>
            </a>
        </div>

        <div class="text-center w-[calc(100%-200px)] h-[900px] mx-auto justify-center items-center ">
            <h1 class="w-[100%] font-bold text-center text-2xl mt-[2%]">Quản lý tài khoản</h1>
            <div class="container mt-[2%] mx-auto w-full">
                <!-- Bắt đầu table -->
                <table class="w-full border-collapse mt-auto p-6  border border-gray-500">
                    <thead>
                        <tr class="bg-green-500">
                            <th class="border border-gray-500 p-2">Họ và Tên</th>
                            <th class="border border-gray-500 p-2">Email</th>
                            <th class="border border-gray-500 p-2">Số điện thoại</th>
                            <th class="border border-gray-500 p-2">Mật khẩu</th>
                            <th class="border border-gray-500 p-2">Địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-gray-500 p-2">Lê Tiên Nhất Linh</td>
                            <td class="border border-gray-500 p-2">LinhStupid@gmail.com</td>
                            <td class="border border-gray-500 p-2">0923663654</td>
                            <td class="border border-gray-500 p-2">
                                <div class="flex items-center">
                                    <input id="password-1" type="password" value="toibiNGU"
                                        class="border-none bg-transparent focus:outline-none" readonly />
                                    <i id="icon-password-1" class="fas fa-eye ml-2 cursor-pointer"
                                        onclick="togglePassword('password-1', 'icon-password-1')"></i>
                                </div>
                            </td>
                            <td class="border border-gray-500 p-2">110 Đ. Nguyễn Thị Minh Khai, Phường 6, Quận 3, Hồ Chí
                                Minh</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-500 p-2">Lưu Hồng Hữu</td>
                            <td class="border border-gray-500 p-2">honghuudeptrai@gmail.com</td>
                            <td class="border border-gray-500 p-2">0923663654</td>
                            <td class="border border-gray-500 p-2">
                                <div class="flex items-center">
                                    <input id="password-2" type="password" value="huudeptrai"
                                        class="border-none bg-transparent focus:outline-none" readonly />
                                    <i id="icon-password-2" class="fas fa-eye ml-2 cursor-pointer"
                                        onclick="togglePassword('password-2', 'icon-password-2')"></i>
                                </div>
                            </td>
                            <td class="border border-gray-500 p-2">110 Đ. Nguyễn Thị Minh Khai, Phường 6, Quận 3, Hồ Chí
                                Minh</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-500 p-2">Trần Anh Quân</td>
                            <td class="border border-gray-500 p-2">trananhquandeptrai@gmail.com</td>
                            <td class="border border-gray-500 p-2">0923663654</td>
                            <td class="border border-gray-500 p-2">
                                <div class="flex items-center">
                                    <input id="password-3" type="password" value="anhquandeptrai"
                                        class="border-none bg-transparent focus:outline-none" readonly />
                                    <i id="icon-password-3" class="fas fa-eye ml-2 cursor-pointer"
                                        onclick="togglePassword('password-3', 'icon-password-3')"></i>
                                </div>
                            </td>
                            <td class="border border-gray-500 p-2">110 Đ. Nguyễn Thị Minh Khai, Phường 6, Quận 3, Hồ Chí
                                Minh</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-500 p-2">Trần Minh Đạt</td>
                            <td class="border border-gray-500 p-2">datdinh@gmail.com</td>
                            <td class="border border-gray-500 p-2">0923663654</td>
                            <td class="border border-gray-500 p-2">
                                <div class="flex items-center">
                                    <input id="password-4" type="password" value="minhdat"
                                        class="border-none bg-transparent focus:outline-none" readonly />
                                    <i id="icon-password-4" class="fas fa-eye ml-2 cursor-pointer"
                                        onclick="togglePassword('password-4', 'icon-password-4')"></i>
                                </div>
                            </td>
                            <td class="border border-gray-500 p-2">110 Đ. Nguyễn Thị Minh Khai, Phường 6, Quận 3, Hồ Chí
                                Minh</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Kết thúc table -->
            </div>
        </div>
    </div>

    <script>
        function togglePassword(inputId, iconId) {
            const input = document.getElementById(inputId);
            const icon = document.getElementById(iconId);
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                input.type = "password";
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }
    </script>
</body>

</html>
