<div class="container mx-auto mt-10 p-6 bg-white shadow-md rounded">
    <h1 class="text-2xl font-bold mb-6">Lịch sử tư vấn</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Mã tư vấn</th>
                    <th class="py-3 px-6 text-left">Ngày tư vấn</th>
                    <th class="py-3 px-6 text-left">Trạng thái</th>
                    <th class="py-3 px-6 text-left">HÌnh thức tư vấn</th>
                    <th class="py-3 px-6 text-left">Chi tiết</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">

                <tr class="border-b border-gray-300 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left whitespace-nowrap"></td>
                    <td class="py-3 px-6 text-left"></td>

                    <td class="py-3 px-6 text-left">
                        <span class="bg-yellow-200 text-yellow-600 py-1 px-3 rounded-full text-xs"></span>
                    </td>
                    <td class="py-3 px-6 text-left"></td>
                    <td class="py-3 px-6 text-left">
                        <a href="/orderdetailhistory/" class="text-indigo-600 hover:text-indigo-900">Xem chi tiết</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>