<div class="flex px-10	">
    <div class="mx-4 mb-3 mt-6 w-full md:w-4/6">
        <h1 class="mb-4 mt-10 border-b-2 border-black  text-2xl font-bold">Cập nhật học bổng 2024 từ Trung
            học Hyde School, Mỹ</h1>
        <p>Học bổng Trung học Hyde School là cơ hội quý báu dành cho các bạn học sinh có kết quả học tập vượt trội, mong
            muốn tiếp cận với chương trình giáo dục chất lượng cao, tập trung vào khả năng sáng tạo, nghệ thuật, và đề
            cao tư duy phản biện cho mỗi cá nhân. Trường cung cấp nhiều chương trình hỗ trợ tài chính với giá trị học
            bổng lên đến $28.000/năm.</p>
        <img class="w-4/5	 m-auto" src="Images/kinh-nghiem-xin-hoc-bong-du-hoc-my.jpg" alt="hoc bong du hoc my"> <br>


        <div>
            <h2 class="text-lg font-medium">Thông tin học bổng</h2> <br>
            <p>Năm 2024, Trung học Hyde, Mỹ tiếp tục duy trì và mở rộng các chương trình học bổng nhằm hỗ trợ học sinh
                có tiềm năng từ khắp nơi trên thế giới. Các học bổng này không chỉ giúp giảm bớt gánh nặng tài chính cho
                gia đình mà còn tạo điều kiện cho nhiều học sinh có cơ hội trải nghiệm môi trường học tập chất lượng cao
                tại Mỹ.</p>
            <ul>
                <li>1. Giá trị học bổng: ~ $28.000/năm học. Chi phí sau khi trừ học bổng là $42.500 (đã bao gồm tất cả
                    phụ
                    phí, bảo hiểm cho học sinh quốc tế)</li>
                <li>2. Số lượng học bổng: không giới hạn suất đăng ký.</li> <br>
                <li>3. Yêu cầu:
                    <div>
                        <p>Đối với học sinh:</p>
                        <ul class="list-disc ml-10">
                            <li>Đơn xin học bổng (theo mẫu của trường)</li>
                            <li>Điểm trung bình (GPA) từ 3.5 trở lên.</li>
                            <li>Thư giới thiệu từ giáo viên hoặc cố vấn học tập.</li>
                            <li>Bài luận cá nhân nêu rõ mục tiêu học tập và lý do xin học bổng.</li>
                        </ul>
                    </div>

                    <div>
                        <p>Ngoài ra, để được xét duyệt chương trình hỗ trợ tài chính của trung học Hyde, phụ huynh cần:
                        </p>
                        <ul class="list-disc ml-10">
                            <li>Hoàn thành đơn Tuyên Bố Tài Chính của Phụ Huynh (PFS): Điền đầy đủ thông tin về tài
                                chính của gia đình qua School and Student Services (SSS).</li>
                            <li>Cung cấp các tài liệu tài chính bổ sung: Bao gồm các tờ khai thuế và tài liệu liên quan.
                            </li>
                            <li>Tuân thủ các thời hạn nộp đơn: Nộp đơn và tài liệu đúng hạn quy định.</li>
                        </ul>
                    </div>
                </li> <br>
                <li>4. Quy trình nộp đơn:
                    <div>
                        <ul class="list-disc ml-10">
                            <li>Tạo tài khoản SSS: Đăng ký tài khoản tại School and Student Services (SSS).</li>
                            <li>Điền Đơn Tuyên Bố Tài Chính của Phụ Huynh (PFS): Điền đầy đủ thông tin tài chính của gia
                                đình, bao gồm thu nhập, chi phí và tài sản. Biểu mẫu đăng ký được lấy trực tiếp trên
                                website nhà trường.</li>
                            <li>Nộp tài liệu bổ sung: Gửi các tài liệu tài chính cần thiết như tờ khai thuế.</li>
                            <li>Thanh toán phí: Đóng phí nộp đơn là $55. Đây là phí không hoàn lại.</li>
                            <li>Kiểm tra và nộp đơn: Xem lại và nộp đơn qua hệ thống SSS trước thời hạn.</li>
                            <li>Thông báo kết quả xét duyệt: Khi đã có quyết định, hội đồng xét duyệt của nhà trường sẽ
                                gửi thông báo qua email.
                            </li>
                        </ul>
                    </div>
                </li> <br>
                <li>5. Lưu ý quan trọng:
                    <div>
                        <ul class="list-disc ml-10">
                            <li>Mức hỗ trợ được quyết định dựa trên nhu cầu tài tài chính của từng gia đình và khả năng
                                của trường.
                            </li>
                            <li>Chương trình có thể hỗ trợ toàn bộ hoặc một phần học phí, phí nội trú và các chi phí
                                liên quan.
                            </li>
                            <li>Chương trình không giới hạn số lượng đăng kí. Tuy nhiên, ngân sách có hạn nên việc nộp
                                đơn sớm và đầy đủ tài liệu cần thiết sẽ tăng cơ hội nhận hỗ trợ. Thời điểm nộp hồ sơ tốt
                                nhất là nên nộp cùng với đơn xin nhập học.
                            </li>
                        </ul>
                    </div>
                </li> <br>
            </ul>

            <p>Để tìm hiểu rõ hơn thông tin chi tiết về cách thức săn học bổng cũng như các thủ tục xin Visa, vui lòng
                liên hệ DREAMBRIDGE – là đại diện tuyển sinh uy tín của trường Hyde School, Mỹ để được hỗ trợ thông tin
                và
                tư vấn hoàn toàn miễn phí.
            </p>
        </div>
    </div>

    <div class="mt-4 text-center">
        <button class="rounded bg-blue-500 px-4 py-2 text-white  w-2/5	"><span class="font-bold text-xl">Tôi muốn tư
                vấn</span></button>
    </div>
    <div class="w-full md:w-3/12 mt-14 ">
        <div class="border border-gray-300 p-4">
            <ul class="space-y-2">
                <li><a href="/my" class="text-blue-600">Du Học Mỹ</a></li>
                <li><a href="/singapore" class="text-blue-600">Du Học Singapore</a></li>
                <li><a href="/uc" class="text-blue-600">Du Học Úc</a></li>
                <li><a href="/thuysy" class="text-blue-600">Du Học Thụy Sĩ</a></li>
                <li><a href="/dichvu" class="font-bold text-blue-600">Dịch Vụ Visa</a></li>
                <ul class="space-y-2 pl-4">
                    <li><a href="/my" class="text-blue-600">Dịch vụ visa Mỹ</a></li>
                    <li><a href="/singapore" class="text-blue-600">Dịch vụ visa Singapore</a></li>
                    <li><a href="/uc" class="text-blue-600">Dịch vụ visa Úc</a></li>
                    <li><a href="/thuysy" class="text-blue-600">Dịch vụ visa Thụy Sĩ</a></li>
                </ul>
            </ul>
        </div>
    </div>
</div>