<div class="flex flex-col md:flex-row">
    <div class="mx-4 mb-3 mt-6 w-full md:w-4/6">
        <h1 class="mb-4 border-b-2 border-black text-2xl font-bold">Dịch Vụ Visa Singapore Trọn Gói: DU HỌC, GIA HẠN
            VISA</h1>

        <div>
            <p>Với 10 năm làm dịch vụ visa Singapore, DREAMBRIDGE tự tin cung cấp dịch vụ hữu ích và cần thiết cho những
                khách hàng có kế hoạch đến quốc đảo sư tử học tập, du lịch, công tác hay thăm thân trên 30 ngày. Công ty
                làm visa Singapore DREAMBRIDGE cam kết giúp bạn khởi đầu chuyến đi đúng lịch trình và thuận lợi.</p>
            <br />
            <img class="m-auto" src="Images/dich-vu-visa-singapore.webp" alt=" dic vu visa singapore" /> <br />
            <h2 class="text-xl font-medium">DỊCH VỤ LÀM VISA SINGAPORE CỦA DREAMBRIDGE GỒM NHỮNG GÌ?</h2>
            <br />
            <p>ThinkEdu sở hữu đội ngũ nhân sự có hơn 10 năm kinh nghiệm tiếp nhận và xử lý hồ sơ xin visa ra nước
                ngoài. Chúng tôi cung cấp đầy đủ các dịch vụ làm visa đi Singapore cho mọi khách hàng.</p>
            <br />

            <ul class="ml-10 list-disc">
                <li><span class="font-medium">Visa du học Singapore:</span> Visa du học là “giấy thông hành” buộc phải
                    có nếu bạn muốn sang Singapore học ngắn hạn hoặc dài hạn. Nếu bạn không xin được thị thực thì dù có
                    cầm trong tay thư mời nhập học đến từ các tổ chức giáo dục Singapore bạn cũng sẽ không thể nhập cảnh
                    vào quốc gia này để học tập.</li>
                <li><span class="font-medium">Gia hạn visa Singapore:</span> Dịch vụ gia hạn visa Singapore của ThinkEdu
                    sẽ giúp những khách hàng đang lưu trú tại quốc gia này kịp thời xử lý tất cả những giấy tờ cần thiết
                    để gia hạn visa trước khi thị thực hết hạn. Bạn sẽ không phải lo lắng gián đoạn kế hoạch học tập,
                    làm việc hay lưu trú tại quốc đảo này.</li>
            </ul>
            <div class="flex items-center justify-center space-x-4">
                <button class="rounded-md border-2 border-black bg-blue-500 px-4 py-2 text-white">Tư vấn cho
                    tôi</button>
                <p class="self-center">Hoặc</p>
                <button class="rounded-md border-2 border-black bg-blue-500 px-4 py-2 text-white">Gọi hotline: 083 8686
                    8686</button>
            </div>

            <h3 class="text-lg font-medium">ƯU ĐIỂM DỊCH VỤ VISA SINGAPORE CỦA DREAMBRIDGE</h3>
            <p>Từ một thương hiệu nhỏ trong vô vàn các đơn vị làm dịch vụ visa Singapore tại Tp HCM phát triển trở thành
                lựa chọn hàng đầu của khách hàng khi có nhu cầu làm visa đi Sing, DREAMBRIDGE luôn nỗ lực không ngừng
                nghỉ để mang đến chất lượng dịch vụ tốt nhất cho khách hàng.</p>
            <ul class="ml-10 list-disc">
                <li>Tỷ lệ đỗ visa đi Mỹ 99%.</li>
                <li>Tư vấn và hướng dẫn chuẩn bị hồ sơ kỹ càng, tỉ mỉ.</li>
                <li>Nộp hồ sơ, làm việc với lãnh sự quán và phản hồi lại những thông tin từ lãnh sự quán.</li>
                <li>Hướng dẫn tập phỏng vấn trước khi phỏng vấn chính thức với lãnh sự quán (nếu có).</li>
                <li>Tư vấn lịch trình chuyến đi, hỗ trợ book vé máy bay và đặt khách sạn (nếu cần).</li>
                <li>Chi phí “hạt dẻ”, công khai và không phát sinh các khoản chi phí ngoài hợp đồng không cần thiết.
                </li>
                <li>Cam kết bảo mật thông tin cá nhân của khách hàng.</li>
            </ul>

            <div class="m-auto w-9/12">
                <table class="border border-gray-300 bg-white">
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Hồ sơ cá nhân</td>
                            <td class="border border-gray-300 px-4 py-2">
                                <ul class="ml-10 list-disc">
                                    <li>Hộ Chiếu gốc còn hạn trên 6 tháng</li>
                                    <li>Chứng minh nhân dân/căn cước công dân photo công chứng</li>
                                    <li>Sổ hộ khẩu photo công chứng</li>
                                    <li>Tình trạng hôn nhân: kết hôn/độc thân/lý hôn/chứng từ</li>
                                    <li>Giấy khai sinh photo công chứng</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Hồ sơ công việc</td>
                            <td class="border border-gray-300 px-4 py-2">
                                <strong>Đối với nhân viên:</strong>
                                <ul class="ml-10 list-disc">
                                    <li>Hợp đồng lao động photo công chứng</li>
                                    <li>Đơn xin nghỉ phép – bản gốc</li>
                                    <li>Sao kê lương 3 tháng gần nhất</li>
                                    <li>Quyết định bổ nhiệm chức vụ (nếu có) – photo công chứng</li>
                                </ul>
                                <strong>Đối với chủ doanh nghiệp:</strong>
                                <ul>
                                    <li>Giấy phép Đăng ký kinh doanh photo công chứng</li>
                                    <li>Báo cáo thuế 3 tháng gần nhất</li>
                                    <li>Giấy nộp tiền vào ngân sách nhà nước</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Hồ sơ tài chính</td>
                            <td class="border border-gray-300 px-4 py-2">
                                <ul class="ml-10 list-disc">
                                    <li>Giấy chứng nhận quyền sử dụng đất (nếu có) – photo công chứng</li>
                                    <li>Chứng nhận đăng ký xe ô tô (nếu có)</li>
                                    <li>Xác nhận sổ dư số tiết kiệm + photo sổ gốc kèm theo</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h2 class="text-lg font-medium">Bảng giá dịch vụ visa tại Mỹ</h2>
                <p>Dưới đây là chi phí và thời gian làm thị thực Mỹ mới nhất:</p>
                <table>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Quốc gia</td>
                            <td class="border border-gray-300 px-4 py-2">Phí nộp lãnh sự quán</td>
                            <td class="border border-gray-300 px-4 py-2">Thời gian xem xét</td>
                            <td class="border border-gray-300 px-4 py-2">Phí dịch vụ tư vấns</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Singapore</td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Theo lịch phỏng vấn</td>
                            <td class="border border-gray-300 px-4 py-2">Miễn phí</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2 class="text-lg font-medium">Quy trình</h2>
                <p>Tại DREAMBRIDGE, bạn sẽ được hỗ trợ tư vấn chuẩn bị giấy tờ, nộp hồ sơ và phỏng vấn với lãnh sự quán
                    từ A – Z. Cụ thể như sau:</p>
                <ul>
                    <li>Bước 1: DREAMBRIDGE tìm hiểu mục đích xin thị thực sang Singapore (du học/gia hạn Visa…)</li>
                    <li>Bước 2: Giải thích về loại visa mà bạn sẽ xin thị thực (loại visa, thời gian xét duyệt, phí visa
                        lãnh sự yêu cầu nộp, thời hạn lưu trú và thời hạn visa hiệu lực…).</li>
                    <li>Bước 3: Tùy theo từng trường hợp cụ thể mà ThinkEdu sẽ gửi cho bạn danh mục hồ sơ cần chuẩn bị
                        cũng như phí dịch vụ xin visa đi Singapore.</li>
                    <li>Bước 4: Bạn nộp hồ sơ cho DREAMBRIDGE, ký hợp đồng và hoàn tất thanh toán các chi phí.</li>
                    <li>Bước 5: DREAMBRIDGE hỗ trợ bạn xử lý hồ sơ, khai thông tin và nộp hồ sơ xin visa vào lãnh sự.
                    </li>
                    <li>Bước 6: Luyện phỏng vấn trước khi lãnh sự quán phỏng vấn trực tiếp.</li>
                    <li>Bước 7: Đặt lịch hẹn phỏng vấn, lấy dấu vân tay, chụp hình, khám sức khỏe (nếu lãnh sự yêu cầu).
                    </li>
                    <li>Bước 8: Chờ kết quả và thông báo quyết định về việc xét cấp visa.</li>
                </ul>
            </div>
        </div>
    </div>

    @* bang dich vu nhanh *@
    <div class="w-full md:w-3/12 mt-5	">
        <div class="border border-gray-300 p-4">
            <ul class="space-y-2">
                <li><a href="/my" class="text-blue-600">Du Học Mỹ</a></li>
                <li><a href="/singapore" class="text-blue-600">Du Học Singapore</a></li>
                <li><a href="/uc" class="text-blue-600">Du Học Úc</a></li>
                <li><a href="/thuysy" class="text-blue-600">Du Học Thụy Sĩ</a></li>
                <li><a href="/dichvu" class="font-bold text-blue-600">Dịch Vụ Visa</a></li>
                <ul class="space-y-2 pl-4">
                    <li><a href="/my" class="text-blue-600">Dịch vụ visa Mỹ</a></li>
                    <li><a href="/singapore" class="text-blue-600">Dịch vụ visa Singapore</a></li>
                    <li><a href="/uc" class="text-blue-600">Dịch vụ visa Úc</a></li>
                    <li><a href="/thuysy" class="text-blue-600">Dịch vụ visa Thụy Sĩ</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <br />
</div>
