<div class="flex">
    <div class="mt-25 mx-10 w-4/6 mb-3">
        <h1 class=" border-b-2 border-black text-2xl font-bold mb-4">DỊCH VỤ VISA THỤY SỸ TRỌN GÓI, TỶ LỆ ĐẬU CAO </h1>

        <div>
            <p>Xin visa Thụy Sỹ (Switzerland) là bài toán không dễ trong suốt nhiều năm qua bởi những yêu cầu xét duyệt
                khắt khe. Với
                kinh nghiệm 10 năm làm visa đi Thụy Sỹ, chúng tôi tự tin giúp khai thác điểm mạnh và hạn chế điểm yếu,
                nâng
                tỷ lệ đậu visa Hoa Kỳ của tất cả các khách hàng. Vì vậy dịch vụ visa Mỹ DREAMBRIDGE đã trở thành lựa
                chọn
                hàng đầu cho những ai có nhu cầu đến xứ sở cờ hoa.</p> <br>
            <img class="m-auto" src="Images/du-hoc-thuy-si.jpg" alt=" dic vu visa thuy sy"> <br>
            <h2 class="font-medium	text-xl	">DỊCH VỤ LÀM VISA THỤY SỸ CỦA DREAMBRIDGE GỒM NHỮNG GÌ?</h2> <br>
            <p>Hơn 10 năm hoạt động trong ngành dịch vụ visa đặc biệt là visa đi Thụy Sỹ, DREAMBRIDGE có kinh nghiệm xử
                lý hồ sơ
                của tất cả các loại thị thực nhập cảnh vào quốc gia này. Cụ thể: </p> <br>

            <div>
                <h3 class="text-lg font-medium	">Visa du học Thụy Sỹ</h3> <br>
                <p>Visa du học dành cho học sinh, sinh viên muốn học tập tại các trường học, tổ chức giáo dục của Thụy
                    Sỹ
                    Visa du học sẽ có thời hạn cho đến khi học sinh, sinh viên kết thúc chương trình học. Ví dụ visa cho
                    sinh viên cao đẳng thường có thời hạn 3 năm, sinh viên đại học sẽ được cấp visa có thời hạn 3 – 4
                    năm.
                </p>
            </div>

            <div>
                <h3 class="text-lg	font-medium	">Gia hạn visa Thụy Sỹ</h3> <br>
                <p>Khi thị thực của bạn gần hết hạn và bạn muốn tiếp tục lưu trú tại Thụy Sỹ thì buộc phải làm thủ tục
                    xin
                    gia hạn visa, thời gian được gia hạn sẽ tùy thuộc vào hồ sơ của bạn. Đến thời điểm hết thị thực
                    nhưng bạn vẫn chưa được gia hạn thị thực thì sẽ buộc phải quay về Việt Nam và nộp lại hồ sơ cấp
                    visa.
                </p>
            </div>

            <div class="flex space-x-4 justify-center items-center">
                <button class="border-2 border-black bg-blue-500 text-white px-4 py-2 rounded-md">Tư vấn cho
                    tôi</button>
                <p class="self-center">Hoặc</p>
                <button class="border-2 border-black bg-blue-500 text-white px-4 py-2 rounded-md">Gọi hotline: 083 8686
                    8686</button>
            </div>

            <h3 class="text-lg	font-medium	">ƯU ĐIỂM DỊCH VỤ VISA Thụy Sỹ DREAMBRIDGE</h3>
            <p>Nhiều năm qua dịch vụ xin visa Thụy Sỹ của DREAMBRIDGE không chỉ được khách hàng tại thành phố Hồ Chí
                Minh lựa
                chọn, mà khách hàng tại khu vực lân cận tin tưởng tìm đến bởi vì những lý do sau: </p>
            <ul class="list-disc ml-10">
                <li>Tỷ lệ đỗ visa đi Thụy Sỹ 99%.</li>
                <li>Tư vấn chuẩn bị hồ sơ, xử lý hồ sơ xin visa lần 2 thành công.</li>
                <li>Kê khai, nộp hồ sơ, tiếp nhận phản hồi và lịch hẹn với lãnh sự quán (nếu có).</li>
                <li>Hướng dẫn và hỗ trợ tập luyện phỏng vấn xin thị thực. </li>
                <li>Tư vấn lịch trình chuyến đi, hỗ trợ đặt vé máy bay và khách sạn. </li>
                <li>Chi phí hợp lý, công khai và cam kết không phát sinh.</li>
                <li>Tư vấn tận tình và nhanh chóng. </li>
                <li>Bảo mật thông tin cá nhân của khách hàng. </li>
            </ul>

            <div class="m-auto w-9/12">
                <table class=" bg-white border border-gray-300">
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                Hồ sơ cá nhân
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <ul class="list-disc ml-10">
                                    <li>Hộ Chiếu gốc còn hạn trên 6 tháng</li>
                                    <li>Chứng minh nhân dân/căn cước công dân photo công chứng</li>
                                    <li>Sổ hộ khẩu photo công chứng</li>
                                    <li>Tình trạng hôn nhân: kết hôn/độc thân/lý hôn/chứng từ</li>
                                    <li>Giấy khai sinh photo công chứng</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                Hồ sơ công việc
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <strong>Đối với nhân viên:</strong>
                                <ul class="list-disc ml-10">
                                    <li>Hợp đồng lao động photo công chứng</li>
                                    <li>Đơn xin nghỉ phép – bản gốc</li>
                                    <li>Sao kê lương 3 tháng gần nhất</li>
                                    <li>Quyết định bổ nhiệm chức vụ (nếu có) – photo công chứng</li>
                                </ul>
                                <strong>Đối với chủ doanh nghiệp:</strong>
                                <ul>
                                    <li>Giấy phép Đăng ký kinh doanh photo công chứng</li>
                                    <li>Báo cáo thuế 3 tháng gần nhất</li>
                                    <li>Giấy nộp tiền vào ngân sách nhà nước</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                Hồ sơ tài chính
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <ul class="list-disc ml-10">
                                    <li>Giấy chứng nhận quyền sử dụng đất (nếu có) – photo công chứng</li>
                                    <li>Chứng nhận đăng ký xe ô tô (nếu có)</li>
                                    <li>Xác nhận sổ dư số tiết kiệm + photo sổ gốc kèm theo</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h2 class="text-lg	font-medium	">Bảng giá dịch vụ visa tại Thụy SỸ</h2>
                <p>Dưới đây là chi phí và thời gian làm thị thực Mỹ mới nhất: </p>
                <table>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Quốc gia </td>
                            <td class="border border-gray-300 px-4 py-2">Phí nộp lãnh sự quán</td>
                            <td class="border border-gray-300 px-4 py-2">Thời gian xem xét</td>
                            <td class="border border-gray-300 px-4 py-2">Phí dịch vụ tư vấns</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Thụy Sỹ </td>
                            <td class="border border-gray-300 px-4 py-2">160 USD </td>
                            <td class="border border-gray-300 px-4 py-2">Theo lịch phỏng vấn </td>
                            <td class="border border-gray-300 px-4 py-2">Miễn phí</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2 class="text-lg	font-medium	">Quy trình</h2>
                <p>Tại DREAMBRIDGE, bạn sẽ được hỗ trợ tư vấn chuẩn bị giấy tờ, nộp hồ sơ và phỏng vấn với lãnh sự quán
                    từ
                    A – Z. Cụ thể như sau: </p>
                <ul>
                    <li>Bước 1: DREAMBRIDGE tìm hiểu mục đích xin thị thực sang Thụy Sỹ (du học/gia
                        hạn
                        Visa…)</li>
                    <li>Bước 2: Giải thích về loại visa mà bạn sẽ xin thị thực (loại visa, thời gian xét duyệt, phí visa
                        lãnh sự yêu cầu nộp, thời hạn lưu trú và thời hạn visa hiệu lực…).</li>
                    <li>Bước 3: Tùy theo từng trường hợp cụ thể mà DREAMBRIDGE sẽ gửi cho bạn danh mục hồ sơ cần chuẩn
                        bị
                        cũng như phí dịch vụ xin visa đi Thụy Sỹ.</li>
                    <li>Bước 4: Bạn nộp hồ sơ cho DREAMBRIDGE, ký hợp đồng và hoàn tất thanh toán các chi phí.</li>
                    <li>Bước 5: DREAMBRIDGE hỗ trợ bạn xử lý hồ sơ, khai thông tin và nộp hồ sơ xin visa vào lãnh sự.
                    </li>
                    <li>Bước 6: Luyện phỏng vấn trước khi lãnh sự quán phỏng vấn trực tiếp.</li>
                    <li>Bước 7: Đặt lịch hẹn phỏng vấn, lấy dấu vân tay, chụp hình, khám sức khỏe (nếu lãnh sự yêu cầu).
                    </li>
                    <li>Bước 8: Chờ kết quả và thông báo quyết định về việc xét cấp visa.</li>
                </ul>
            </div>
        </div>
    </div>

    @* bang dich vu nhanh *@
    <div class="w-3/12	">
        <div class="border border-gray-300 p-4">
            <ul class="space-y-2">

                <li><a href="/my" class="text-blue-600">Du Học Mỹ</a></li>
                <li><a href="/singapore" class="text-blue-600">Du Học Singapore</a></li>
                <li><a href="/uc" class="text-blue-600">Du Học Úc</a></li>
                <li><a href="/thuysy" class="text-blue-600">Du Học Thụy Sĩ</a></li>
                <li><a href="/dichvu" class="font-bold text-blue-600">Dịch Vụ Visa</a></li>
                <ul class="pl-4 space-y-2">
                    <li><a href="/my" class="text-blue-600">Dịch vụ visa Mỹ</a></li>
                    <li><a href="/singapore" class="text-blue-600">Dịch vụ visa Singapore</a></li>
                    <li><a href="/uc" class="text-blue-600">Dịch vụ visa Úc</a></li>
                    <li><a href="/thuysy" class="text-blue-600"> Dịch vụ visa Thụy Sĩ</a></li>

                </ul>
            </ul>
        </div>

    </div>
</div>