<div class="flex">
    <div class="mt-25 mx-10 w-4/6 mb-3">
        <h1 class=" border-b-2 border-black text-2xl font-bold mb-4">Dịch Vụ Visa Úc Trọn Gói: Du học, gia hạn</h1>

        <div>
            <p>Hơn 10 năm kinh nghiệm làm dịch vụ visa Úc với hàng trăm hồ sơ xin visa thành công mỗi năm, DREAMBRIDGE
                cam
                kết là công ty làm visa Úc có tỷ lệ đậu visa cao trong thời gian ngắn nhất và chi phí thấp nhất trên thị
                trường hiện nay. </p> <br>
            <img class="m-auto" src="Images/visa-du-hoc-uc.jpg" alt=" dic vu visa my"> <br>
            <h2 class="font-medium	text-xl	">DỊCH VỤ LÀM VISA ÚC CỦA DREAMBRIDGE GỒM NHỮNG GÌ? </h2> <br>
            <p>Với đội ngũ nhân sự đông đảo và có nhiều năm xử lý hồ sơ xin visa ra nước ngoài, ThinkEdu cung cấp đầy đủ
                dịch vụ làm visa Úc, gồm: </p> <br>
            <ul class="list-disc ml-10">
                <li><span class="font-medium">Visa du học Úc:</span> Visa du học là một trong những thị thực đến Úc được
                    các bạn trẻ Việt
                    Nam xin nhiều
                    nhất. Điều kiện tiên quyết để bạn có thể xin visa du học Úc là phải có thư mời nhập học đến từ các
                    trường, tổ chức giáo dục của xứ sở chuột túi. </li>
                <li><span class="font-medium">Gia hạn visa Úc:</span> Thủ tục gia hạn visa là bắt buộc nếu bạn muốn tiếp
                    tục lưu trú tại Úc khi visa sắp
                    hết hiệu lực. Trong trường hợp bạn không kịp gia hạn visa trong thời gian quy định của lãnh sự quán,
                    bạn sẽ bị trục xuất ra khỏi Australia. </li>

            </ul> <br>

            <div>
                <h2 class="text-lg	font-medium	">ƯU ĐIỂM DỊCH VỤ VISA ÚC CỦA DREAMBRIDGE </h2>
                <p>Dịch vụ visa Úc của DREAMBRIDGE nhiều năm qua luôn được khách hàng tin tưởng và đánh giá cao nhờ vào
                    những ưu điểm nổi trội gồm: </p>
                <table class=" bg-white border border-gray-300">
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                Hồ sơ cá nhân
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <ul class="list-disc ml-10">
                                    <li>Hộ chiếu gốc còn hạn trên 6 tháng</li>
                                    <li>Chứng minh thư hoặc căn cước công dân photo công chứng</li>
                                    <li>Sổ hộ khẩu photo công chứng </li>
                                    <li>Tình trạng hôn nhân: kết hôn/độc thân/ly hôn/chứng tử</li>
                                    <li>Giấy khai sinh photo công chứng</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                Hồ sơ công việc
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <strong>Đối với nhân viên:</strong>
                                <ul class="list-disc ml-10">
                                    <li>Hợp đồng lao động photo công chứng</li>
                                    <li>Đơn xin nghỉ phép – bản gốc</li>
                                    <li>Sao kê lương 3 tháng gần nhất</li>
                                    <li>Quyết định bổ nhiệm chức vụ (nếu có) – photo công chứng</li>
                                </ul>
                                <strong>Đối với chủ doanh nghiệp:</strong>
                                <ul>
                                    <li>Giấy phép Đăng ký kinh doanh photo công chứng</li>
                                    <li>Báo cáo thuế 3 tháng gần nhất</li>
                                    <li>Giấy nộp tiền vào ngân sách nhà nước</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="border border-gray-300 px-4 py-2">
                                Hồ sơ tài chính
                            </td>
                            <td class="border border-gray-300 px-4 py-2">
                                <ul class="list-disc ml-10">
                                    <li>Giấy chứng nhận quyền sử dụng đất (nếu có) – photo công chứng</li>
                                    <li>Chứng nhận đăng ký xe ô tô (nếu có)</li>
                                    <li>Xác nhận sổ dư số tiết kiệm + photo sổ gốc kèm theo</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <br>

            <div>
                <h2 class="text-lg	font-medium	">BẢNG GIÁ LÀM VISA ÚC</h2>
                <table>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Quốc gia </td>
                            <td class="border border-gray-300 px-4 py-2">Phí nộp lãnh sự quán</td>
                            <td class="border border-gray-300 px-4 py-2">Thời gian xem xét</td>
                            <td class="border border-gray-300 px-4 py-2">Phí dịch vụ tư vấns</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Úc </td>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Theo lịch phỏng vấn </td>
                            <td class="border border-gray-300 px-4 py-2">Miễn phí</td>
                        </tr>
                    </tbody>
                </table>
            </div> <br>

            <div>
                <h2 class="text-lg	font-medium	">QUY TRÌNH DỊCH VỤ VISA ÚC </h2>
                <p>Dịch vụ làm visa Úc của DREAMBRIDGE hỗ trợ khách hàng chuẩn bị tất cả các loại giấy tờ, nộp hồ sơ và
                    làm
                    việc trực tiếp với lãnh sự quán đến khi visa được cấp thành công. Cụ thể: </p>
                <ul class="list-disc ml-10">
                    <li>Bước 1: DREAMBRIDGE tìm hiểu mục đích xin thị thực sang Hoa Kỳ (du học/gia hạn Visa…)</li>
                    <li>Bước 2: Giải thích về loại visa cần xin thị thực (thời gian xét duyệt, phí lãnh sự yêu cầu nộp,
                        thời hạn lưu trú và thời hạn visa hiệu lực…).</li>
                    <li>Bước 3: DREAMBRIDGE gửi bạn danh mục hồ sơ cần chuẩn bị cũng như phí dịch vụ xin visa đi Úc.
                    </li>
                    <li>Bước 4: DREAMBRIDGE nhận hồ sơ đã được bạn chuẩn bị, ký hợp đồng và hoàn tất thanh toán các chi
                        phí.</li>
                    <li>Bước 5: DREAMBRIDGE xử lý hồ sơ, khai thông tin và nộp hồ sơ xin visa vào lãnh sự.
                    </li>
                    <li>Bước 6: Hướng dẫn và hỗ trợ luyện tập phỏng vấn xin visa.</li>
                    <li>Bước 7: Đặt lịch hẹn phỏng vấn, lấy dấu vân tay, chụp hình, khám sức khỏe (nếu lãnh sự quán yêu
                        cầu).
                    </li>
                    <li>Bước 8: Chờ kết quả và thông báo quyết định về việc xét cấp visa.</li>
                </ul>
            </div> <br>

            <div>
                <h2 class="text-lg	font-medium	">CÁC LOẠI VISA ÚC VÀ THỜI HẠN </h2> <br>
                <p>Hiện tại Úc có đến 44 loại visa dành cho nhiều trường hợp khác nhau muốn nhập cảnh vào quốc gia này.
                    Trong đó những loại visa phổ biến đối với người Việt gồm: </p>
                <table class="table-auto border-collapse border border-gray-300 w-full">
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2 font-bold">Nhóm visa</td>
                            <td class="border border-gray-300 px-4 py-2 font-bold">Loại visa</td>
                            <td class="border border-gray-300 px-4 py-2 font-bold">Hiệu lực</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Visa thăm Úc</td>
                            <td class="border border-gray-300 px-4 py-2">Visa du lịch Úc</td>
                            <td class="border border-gray-300 px-4 py-2">1 – 3 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa công tác Úc</td>
                            <td class="border border-gray-300 px-4 py-2">1 – 3 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa thăm thân Úc</td>
                            <td class="border border-gray-300 px-4 py-2">1 – 3 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Visa đi Úc theo diện tay nghề</td>
                            <td class="border border-gray-300 px-4 py-2">Visa 485 – Tạm thời sau tốt nghiệp</td>
                            <td class="border border-gray-300 px-4 py-2">18 tháng</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 491 – Tay nghề vùng miền</td>
                            <td class="border border-gray-300 px-4 py-2">3 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 189 – Tay nghề độc lập (thường trú)</td>
                            <td class="border border-gray-300 px-4 py-2">5 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 190 – Visa tay nghề Úc</td>
                            <td class="border border-gray-300 px-4 py-2">5 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 457 – Tạm trú cho người lao động nước
                                ngoài</td>
                            <td class="border border-gray-300 px-4 py-2">4 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 462 – Lao động kết hợp kỳ nghỉ</td>
                            <td class="border border-gray-300 px-4 py-2">12 tháng</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Visa diện du học Úc</td>
                            <td class="border border-gray-300 px-4 py-2">Visa 500</td>
                            <td class="border border-gray-300 px-4 py-2">Theo thời gian chương trình học</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 590 – Visa giám hộ cho cha mẹ có con dưới
                                18 tuổi</td>
                            <td class="border border-gray-300 px-4 py-2">Có hiệu lực đến khi học sinh đủ 18 tuổi</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Visa Úc diện gia đình</td>
                            <td class="border border-gray-300 px-4 py-2">Visa 300 – Cho người sắp kết hôn</td>
                            <td class="border border-gray-300 px-4 py-2">9 tháng</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 820 – Visa diện kết hôn</td>
                            <td class="border border-gray-300 px-4 py-2">2 năm</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2"></td>
                            <td class="border border-gray-300 px-4 py-2">Visa 103, 143, 173 – Bố mẹ (thường trú)</td>
                            <td class="border border-gray-300 px-4 py-2">Tùy trường hợp cụ thể</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">Visa quá cảnh</td>
                            <td class="border border-gray-300 px-4 py-2">Visa quá cảnh</td>
                            <td class="border border-gray-300 px-4 py-2">72 giờ – 5 ngày</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div>
                <h2 class="text-lg	font-medium	">HỒ SƠ XIN VISA ÚC </h2>
                <p>Đối với mỗi loại visa sẽ có những yêu cầu khác nhau về hồ sơ, những trường hợp đặc biệt lãnh sự quán
                    cũng sẽ yêu cầu chuẩn bị thêm nhiều giấy tờ hơn so với bình thường. Dù vậy vẫn có một số giấy tờ cơ
                    bản mà bất kỳ hồ sơ xin visa đi Úc nào cũng phải có. </p>
                <ul class="list-disc ml-10">
                    <li>Tỷ lệ đậu visa đi Úc lên đến 99,9%.</li>
                    <li>Dịch vụ tư vấn tận tâm, tận tình và chu đáo 24/7.</li>
                    <li>Hướng dẫn và hỗ trợ chuẩn bị hồ sơ visa kỹ càng. </li>
                    <li>Trực tiếp nộp hồ sơ và xử lý mọi việc với lãnh sự quán.</li>
                    <li>Hướng dẫn và hỗ trợ luyện tập phỏng vấn xin visa Úc. </li>
                    <li>Phí dịch vụ rẻ, niêm yết công khai và không phát sinh các khoản không cần thiết ngoài hợp đồng.
                    </li>
                    <li>Bảo mật thông tin khách hàng. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-3/12	">
        <div class="border border-gray-300 p-4">
            <ul class="space-y-2">

                <li><a href="/my" class="text-blue-600">Du Học Mỹ</a></li>
                <li><a href="/singapore" class="text-blue-600">Du Học Singapore</a></li>
                <li><a href="/uc" class="text-blue-600">Du Học Úc</a></li>
                <li><a href="/thuysy" class="text-blue-600">Du Học Thụy Sĩ</a></li>
                <li><a href="/dichvu" class="font-bold text-blue-600">Dịch Vụ Visa</a></li>
                <ul class="pl-4 space-y-2">
                    <li><a href="/my" class="text-blue-600">Dịch vụ visa Mỹ</a></li>
                    <li><a href="/singapore" class="text-blue-600">Dịch vụ visa Singapore</a></li>
                    <li><a href="/uc" class="text-blue-600">Dịch vụ visa Úc</a></li>
                    <li><a href="/thuysy" class="text-blue-600">Dịch vụ visa Thụy Sĩ</a></li>
                </ul>
            </ul>
        </div>

    </div>
</div>