<div class="mx-20 border-t-2 border-black">
    <h2 class=" border-b-2 border-black mt-10 text-2xl font-bold mb-4">DỊCH VỤ VISA</h2>
    <div class="mt-10">
        <ul class="flex w-3/5 space-x-5">
            <li class="border border-gray-300 p-2 hover:bg-green-600">Tổng quan</li>
            <li class="border border-gray-300 p-2 hover:bg-green-600"><a href="">Dịch vụ visa Mỹ</a></li>
            <li class="border border-gray-300 p-2 hover:bg-green-600"><a href="">Dịch vụ visa Úc</a></li>
            <li class="border border-gray-300 p-2 hover:bg-green-600"><a href="">Dịch vụ visa Singapore</a></li>
            <li class="border border-gray-300 p-2 hover:bg-green-600"><a href="">Dịch vụ visa Thụy Sỹ</a></li>
        </ul>
    </div>
    <div class="space-y-5">
        <p>DREAMBRIDGE mang đến dịch vụ visa hoàn hảo nhất, xứng đáng với vị thế là một trong những công ty làm visa uy
            tín hàng đầu tại Tp HCM. Mỗi năm, dịch vụ visa của DREAMBRIDGE hỗ trợ thành công hàng ngàn khách hàng ra
            nước
            ngoài học tập, công tác, du lịch, thăm thân</p>
        <img class="m-auto mt-10" src="Images/visa 2.png" alt="Ảnh loi ">
        <h3 class="text-2xl font-bold mb-4">DỊCH VỤ VISA CỦA CHÚNG TÔI</h3>
        <p>Dịch vụ Visa ra nước ngoài được chia thành nhiều loại khác nhau, tùy thuộc vào nhu cầu và mục đích ra nước
            ngoài DREAMBRIDGE sẽ cung cấp dịch vụ làm visa tương ứng.
        </p>

        @* dich vu visa *@
        <div>
            <div class="w-3/5 m-auto">
                <div class="flex border ">
                    <img src="Images/du học 1.png" alt="anh loi">
                    <div class="ml-10 ">
                        <h3 class="font-bold text-lg">Visa du học</h3>
                        <p>Visa du lịch dành cho những ai đang có kế hoạch ra nước ngoài thăm quan, du lịch.  
                        </p>
                        <ul class="list-disc pl-5">
                            <li>Thủ tục xin visa đơn giản </li>
                            <li>Bất kỳ ai cũng có thể nộp hồ sơ</li>
                            <li>Nhận visa dễ dàng và nhanh chóng</li>
                        </ul>
                    </div>
                </div>
                <p class="text-center mt-5">Hoặc</p>
            </div>
        </div>
        <div>
            <div class="w-3/5 m-auto">
                <div class="flex">
                    <img src="Images/gia hạn visa 1.png" alt="anh loi">
                    <div class="ml-10 ">
                        <h3 class="font-bold text-lg">Gia hạn Visa</h3>
                        <p>Dịch vụ gia hạn visa được áp dụng cho những người đang học tập, làm việc và sinh sống tại
                            nước
                            ngoài sắp hết hạn visa. 
                        </p>
                        <ul class="list-disc pl-5">
                            <li>Tư vấn và chuẩn bị hồ sơ chu đáo</li>
                            <li>Hỗ trợ mọi lúc mọi nơi</li>
                            <li>Gia hạn visa nhanh chóng và đúng hạn</li>
                        </ul>
                    </div>
                </div>
                <p class="text-center  mt-5">Với kinh nghiệm và kiến thức đang có, chúng tôi tự tin cung cấp dịch vụ
                    visa cho các quốc gia sau:
                </p>
            </div>
        </div>

        @* co cac nuoc co visa *@
        <div class="flex w-3/4 justify-center m-auto mt-8">
            <div class="flex-1 text-center">
                <a href="#">
                    <img class="m-auto" src="Images/My.png" alt="anh My">
                    <h2 class="text-green-400">Visa Mỹ</h2>
                </a>
            </div>
            <div class="flex-1 text-center">
                <a href="#">
                    <img class="m-auto" src="Images/uc.png" alt="anh uc">
                    <h2 class="text-green-400">Visa Úc</h2>
                </a>
            </div>
            <div class="flex-1 text-center">
                <a href="#">
                    <img class="m-auto" src="Images/thuysy.png" alt="anh thuy sy">
                    <h2 class="text-green-400">Visa Thụy Sỹ</h2>
                </a>
            </div>
            <div class="flex-1 text-center">
                <a href="#">
                    <img class="m-auto" src="Images/sing.png" alt="anh Singapore">
                    <h2 class="text-green-400">Visa Singapore</h2>
                </a>
            </div>
        </div>



        @* lam visa can co *@
        <div class="mt-10">
            <h2 class="text-2xl font-bold mb-4">HỒ SƠ LÀM VISA CẦN CÓ</h2>
            <img class="m-auto mt-10" src="Images/passport2.png" alt="anh loi">
            <table class="table-auto border-collapse border border-gray-300 w-full mt-10">

                <tbody>
                    <tr>
                        <td class="border border-gray-300 p-4 text-left">Hồ sơ cá nhân</td>
                        <td class="border border-gray-300 p-4 text-left">
                            <ul class="list-disc list-inside">
                                <li>Hộ Chiếu gốc còn hạn trên 6 tháng</li>
                                <li>Chứng minh nhân dân/căn cước công dân sao y công chứng</li>
                                <li>Sổ hộ khẩu sao y công chứng nguyên cuốn</li>
                                <li>Tình trạng hôn nhân: kết hôn/độc thân/ly hôn/chứng từ</li>
                                <li>Giấy khai sinh sao y công chứng</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 p-4">Hồ sơ công việc</td>
                        <td class="border border-gray-300 p-4">
                            <p><strong>Đối với nhân viên:</strong></p>
                            <ul class="list-disc list-inside">
                                <li>Hợp đồng lao động sao y công chứng</li>
                                <li>Đơn xin nghỉ phép – bản gốc</li>
                                <li>Sao kê lương 3 tháng gần nhất</li>
                                <li>Quyết định bổ nhiệm chức vụ (nếu có) – sao y công chứng</li>
                            </ul>
                            <p><strong>Đối với chủ doanh nghiệp:</strong></p>
                            <ul class="list-disc list-inside">
                                <li>Giấy phép Đăng ký kinh doanh sao y công chứng</li>
                                <li>Báo cáo thuế 3 tháng gần nhất</li>
                                <li>Giấy nộp tiền vào ngân sách nhà nước</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 p-4">Hồ sơ tài chính</td>
                        <td class="border border-gray-300 p-4">
                            <ul class="list-disc list-inside">
                                <li>Giấy chứng nhận quyền sử dụng đất (nếu có) – sao y công chứng</li>
                                <li>Chứng nhận đăng ký xe oto (nếu có)</li>
                                <li>Xác nhận sổ dư tiết kiệm + photo sổ gốc kèm theo</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        @* chi phi dich vu visa *@
        <div class="overflow-x-auto">
            <h2 class="text-2xl font-bold mb-4">CHI PHÍ DỊCH VỤ VISA TẠI TPHCM</h2>
            <p class="mb-4">
                Mức phí của từng loại thị thực và từng quốc gia sẽ có sự khác nhau, thời gian xét duyệt cũng khác nhau.
                Chi phí dịch vụ visa tham khảo như sau:
            </p>
            <table class="table-auto border-collapse border border-gray-300 w-full">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="border border-gray-300 p-4 text-left">Quốc Gia</th>
                        <th class="border border-gray-300 p-4 text-left">Phí nộp Lãnh Sự</th>
                        <th class="border border-gray-300 p-4 text-left">Thời gian xem xét</th>
                        <th class="border border-gray-300 p-4 text-left">Phí dịch vụ tư vấn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-gray-300 p-4">Mỹ</td>
                        <td class="border border-gray-300 p-4">160 USD</td>
                        <td class="border border-gray-300 p-4">Theo lịch phỏng vấn</td>
                        <td class="border border-gray-300 p-4 italic">Miễn phí</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 p-4">Úc</td>
                        <td class="border border-gray-300 p-4">185 – 235 CAD</td>
                        <td class="border border-gray-300 p-4">4 – 24 tuần</td>
                        <td class="border border-gray-300 p-4 italic">Miễn phí</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 p-4">Thụy Sỹ</td>
                        <td class="border border-gray-300 p-4">150 AUD</td>
                        <td class="border border-gray-300 p-4">2 – 12 tuần</td>
                        <td class="border border-gray-300 p-4 italic">Miễn phí</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 p-4">Singapore</td>
                        <td class="border border-gray-300 p-4">170 AUD</td>
                        <td class="border border-gray-300 p-4">2 – 12 tuần</td>
                        <td class="border border-gray-300 p-4 italic">Miễn phí</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>