@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4 text-red-800 bg-color-blue-700">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="">
    <p class="text-center text-blue-500">This is a custom home page created using Razor Pages.</p>
</div>
