<div class="border  border-black px-9 ">
    <h3 class="w-3/5 font-bold mt-10 text-xl">Albert Einstein đã từng nói: “Education is not the learning of facts, but
        the
        training
        of the mind
        to think”
        Tạm dịch: “Giáo dục không chỉ là tiếp thu kiến thức, mà còn là đào tạo trí óc để tư duy”</h3>
    <div class="w-2/4  mx-auto ">
        <img class="w-full" src="Images/Albert Einstein.png" alt="Ảnh Albert Einstein ">
    </div>
    <div>
        <p>Hầu hết mọi người chúng ta thường định nghĩa Giáo dục là việc đến trường để học, để lấy một tấm bằng và cuối
            cùng là kiếm một công việc ổn định. Nhưng đối với nhà khoa học thiên tài Albert Einstein, giáo dục không chỉ
            đơn thuần là nhận một mảnh giấy với tên của bạn trên đó, ông tin rằng mục đích chính của Giáo dục là giúp
            bản thân có thể thành công trong bất cứ điều gì mà bạn muốn làm trong cuộc sống . <br> <br> Một điều chắc
            chắn
            rằng mỗi người là một cá thể duy nhất, ngay cả anh chị em song sinh hay bạn bè thân thiết cũng hiếm có ý
            tưởng giống nhau về những gì bạn sẽ làm sẽ khiến bạn thành công và mang đến hạnh phúc cho bạn. Chẳng hạn như
            có hai bạn cùng thích học môn hoá nhưng có người mong muốn trở thành dược sĩ còn người kia muốn trở thành
            nhà nghiên cứu hoá học. Dĩ nhiên hai chuyên ngành này sẽ không hoàn toàn giống nhau như thuở đầu hai bạn
            cùng mê học hoá, nhưng việc chọn lựa môi trường giáo dục để dẫn tới ước mơ của mình thì mục đích là như
            nhau. <br> <br> Và HLLQEDU tin rằng mục đích của Giáo dục không chỉ đơn thuần là việc bạn học được những gì
            trong
            sách vở vì nếu như thế, bạn có thể mua sách để tự học tại nhà mà không cần một môi trường giáo dục tốt làm
            gì. Giáo dục với HLLQEDU còn là cách mà những người đi trước truyền đạt cho bạn những kinh nghiệm, kiến
            thức, cảm hứng…, và mục đích là giúp cho bạn phát triển con người một cách toàn diện nhất – về cả kiến thức
            lẫn tư duy, nhận thức mọi vấn đề trong cuộc sống. Đó là lý do chúng ta cần có một môi trường giáo dục chuyên
            biệt để học tập và rèn luyện kỹ năng phù hợp với sở trường và mong muốn của mỗi người. <br> <br> HLLQEDU
            được
            thành lập với mục đích là cầu nối giúp các bạn học sinh, sinh viên Việt Nam đến với những con đường học tập,
            những môi trường giáo dục tốt hơn bằng cách tạo điều kiện và giúp bạn định hướng bản thân, phát huy những
            thế mạnh, chọn lựa con đường tương lai của chính mình một cách cẩn thận và đúng đắn nhất. <br> <br> Với hơn
            10
            năm kinh nghiệm hoạt động trong lĩnh vực giáo dục, ban điều hành từ HLLQEDU có nhiều kinh nghiệm trong học
            tập và trao đổi kiến thức ở nước ngoài. HLLQEDU tự hào là một trong những Công ty tư vấn Du học hàng đầu
            Việt Nam cung cấp dịch vụ tư vấn giáo dục đến các nước như Mỹ, Úc, Canada và Singapore…</>
        </p> <br> <br>
        <ul class="list-disc pl-5">
            <li>Dịch vụ chuyên nghiệp và hiệu quả</li>
            <li>Luôn sẵn sàng hỗ trợ trước và sau khi du học</li>
            <li>Tư vấn hoàn toàn miễn phí</li>
        </ul>
        <p>Với những ưu điểm như trên HLLQEDU cam kết mang đến cho phụ huynh và học sinh những giải pháp du học thông
            minh, hiệu quả và phù hợp nhất với nhu cầu và hoàn cảnh của từng học sinh. Sở hữu những mối liên kết mạnh mẽ
            với nhiều trường Cao Đẳng, Học viện, Đại học trên nhiều quốc gia, mục tiêu của HLLQEDU là mang đến những
            thông tin chính xác và cập nhật mới nhất về các khóa học, học phí, thông tin tuyển sinh… từ các trường đối
            tác. HLLQEDU sẽ luôn đồng hành và hướng dẫn phụ huynh, học sinh qua các quy trình xin thư nhập học, nộp hồ
            sơ và xin thị thực. <br> <br>
            Khát khao lớn nhất của HLLQEDU là mang đến cho các bạn một dịch vụ hoàn hảo, là một trung tâm tư vấn du học
            đáng tin cậy và uy tín tại Việt Nam!</p>
        <div class=" w-3/5 mx-auto">
            <img class="w-1/2 mx-auto" src="Images/plane.png" alt="">
        </div>
        <p>Đội Ngũ Nhân Sự <br>
            Các chuyên gia trong đội ngũ của HLLQEDU là những người mang sứ mệnh đem các kiến thức về du học trở nên gần
            gũi và dễ hiểu hơn với người đọc, đảm bảo sự chính xác và độ tin cậy trong từng câu chữ. Nỗi trăn trở về một
            tương lai mà mọi người dân Việt Nam đều có thể dễ dàng tiếp cận với nguồn thông tin về học tập xác thực,
            đáng tin cậy đã thôi thúc chúng tôi tạo nên trang web https://think.edu.vn/. Ở đây, tất cả bài viết đều được
            biên soạn bởi những chuyên gia hàng đầu và chắc chắn không thể thiếu các cựu du học sinh đã có nhiều năm
            kinh nghiệm trong lĩnh vực này. <br> <br>
            Các thành viên trong ban lãnh đạo gồm:</p>
        <ul class="list-disc pl-5">
            <li>Mr. Hong Huu Luu – Managing Director: Mr. Hong Huu Luu có trong tay hơn 16 năm kinh nghiệm về quản lý
                những công ty đa quốc gia tại Việt Nam, với mong muốn xây dựng cầu nối giúp các bạn học sinh, sinh viên
                đến với những môi trường giáo dục đẳng cấp quốc tế.</li>
            <li>Mr. Anh Quan Tran – Sales & Marketing Manager: Mr. Anh Quan Tran đã có nhiều năm trong lĩnh vực đào tạo
                giáo dục, đặc biệt là du học. Giữ vai trò trong ban quản trị tại Công ty TNHH Đầu tư và Phát triển Giáo
                dục Think</li> <br>
        </ul>
        <p class="font-medium">Công Ty TNHH Đầu Tư Và Phát Triển Giáo Dục Think <br>
            Địa chỉ: 806 QL22, ấp Mỹ Hoà 3, Hóc Môn, Hồ Chí Minh <br>
            Hotline: 083 8686 8686 <br>
            Email: dreambridgeteam@dreambridge.edu.vn <br>
            Website: https://dreambridge.edu.vn/</p>
    </div>
</div>